<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user data</title>
</head>
<body>
    
    <h1> User data </h1>
    <form method="POST" action="/new">
        <label for="username" > Username : </label>
        <input id = "username" name="username" type="text" />
        <button type="submit"> Submit </button>
    </form>


    <h2> Search for a user : </h2>
    <form method="GET" action="/">
        <input name = "username" type="text"/>
        <button type="submit"> Search </button>
    </form>

    <form method="GET" action="/delete">
        <input type="text" name="username" />
        <button type="submit" > Delete User </button>
    </form> 
</body>
</html>